<div class="dashboard">
    <div class="sidebar">
        <h6>Agregar items</h6>
        <div class="separador"> </div>
        <button routerLink="/add" type="button" class="btn btn-dark boton"><i class="fas fa-user"></i>
            Agregar Nuevo cliente</button>
        <button routerLink="/addAdministrador" type="button" class="btn btn-dark boton"><i
                class="fas fa-user-shield"></i>
            Agregar Administrador</button>


        <h6>Listas</h6>
        <div class="separador"> </div>

        <button routerLink="/inicio" type="button" class="btn btn-dark boton"><i class="fas fa-users"></i>
            Lista de Clientes</button>

        <button routerLink="/moviles" type="button" class="btn btn-dark boton"><i class="fas fa-mobile-alt"></i>
            Lista de Moviles</button>
        <button routerLink="/reparaciones" type="button" class="btn btn-dark boton"><i class="fas fa-tools"></i>
            Lista de reparaciones</button>

        <button routerLink="/administradores" type="button" class="btn btn-dark boton"><i
                class="fas fa-address-card"></i>
            Lista de Administradores</button>



    </div>

    <div class="container">



        <div class="row">
            <div class="col-sm-12">
                <form>

                    <div class="mb-3">
                        <label class="form-label">Nombre de usuario</label>
                        <input [(ngModel)]="administrador.username" type="text" class="form-control" name="username">


                    </div>
                    <div>

                        <label class="form-label">Correo</label>
                        <input [(ngModel)]="administrador.correo" type="text" class="form-control" name="correo">

                    </div>

                    <div>

                        <label class="form-label">Contraseña</label>
                        <input [(ngModel)]="administrador.password_user" type="text" class="form-control"
                            name="password_user">

                    </div>


                    <button (click)="agregarAdministrador()" class="btn btn-primary botonform">Agregar
                        Administrador</button>


                </form>

            </div>




        </div>
    </div>
</div>