@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.navbar {
    background-color: #0077c0 !important;
    
    color: #fafafa !important;
}



.navbar-brand{
    color: #fafafa !important;
    font-size: 25px;
    font-family: 'Pacifico', cursive;
    margin-left: 12px;


}