<div class="container">

  <button routerLink="/add" type="button" class="btn btn-dark boton">Agregar Nuevo cliente</button>
  <button routerLink="/addAdministrador" type="button" class="btn btn-dark boton">Agregar Administrador</button>

  <p>Lista de Clientes</p>

 
  

  <table class="table">
    <caption>Clientes</caption>
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Telefono</th>
        <th scope="col">Correo</th>
        <th scope="col">Cedula</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let equipo of ListarEquipo">
        <th>{{equipo.id_clientes}}</th>
        <td>{{equipo.nombre}}</td>
        <td>{{equipo.telefono}}</td>
        <td>{{equipo.correo}}</td>
        <td>{{equipo.cedula}}</td>
        <td>
          <button (click)="agregarMovil(equipo.id_clientes ||'')"type="button" class="btn btn-primary">Agregar Movil</button>
        </td>
        <td>
          <button (click)="modificar(equipo.id_clientes ||'')" type="button" class="btn btn-primary">Editar</button>
        </td>
        <td>
          <button (click)="eliminar(equipo.id_clientes ||'')" type="button" class="btn btn-danger">Eliminar</button>
        </td>
      </tr>

    </tbody>
  </table>

  <label >Lista de equipos moviles</label>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id movil</th>
        <th scope="col">id cliente</th>
        <th scope="col">marca</th>
        <th scope="col">modelo</th>
      
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movil of ListarMovil">
        <th>{{movil.id_movil}}</th>
        <td>{{movil.id_clientes}}</td>
        <td>{{movil.marca}}</td>
        <td>{{movil.modelo}}</td>
        <td>
          <button (click)="agregarReparacion(movil.id_movil ||'')"type="button" class="btn btn-primary">Agregar Reparacion</button>
        </td>
        
       
      </tr>

    </tbody>
  </table>


  <label >Lista de reparaciones</label>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id reparacion</th>
        <th scope="col">id movil</th>
        <th scope="col">descripcion</th>
        
      
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reparacion of ListarReparaciones">
        <th>{{reparacion.id_reparaciones}}</th>
        <td>{{reparacion.id_movil}}</td>
        <td>{{reparacion.descripcion}}</td>
        
        
       
      </tr>

    </tbody>
  </table>

 



</div>