<div class="dashboard">
    <div class="sidebar">
        <h6>Agregar items</h6>
        <div class="separador"> </div>
        <button routerLink="/add" type="button" class="btn btn-dark boton"><i class="fas fa-user"></i>
            Agregar Nuevo cliente</button>
        <button routerLink="/addAdministrador" type="button" class="btn btn-dark boton"><i
                class="fas fa-user-shield"></i>
            Agregar Administrador</button>


        <h6>Listas</h6>
        <div class="separador"> </div>

        <button routerLink="/inicio" type="button" class="btn btn-dark boton"><i class="fas fa-users"></i>
            Lista de Clientes</button>

        <button routerLink="/moviles" type="button" class="btn btn-dark boton"><i class="fas fa-mobile-alt"></i>
            Lista de Moviles</button>
        <button routerLink="/reparaciones" type="button" class="btn btn-dark boton"><i class="fas fa-tools"></i>
            Lista de reparaciones</button>

        <button routerLink="/administradores" type="button" class="btn btn-dark boton"><i
                class="fas fa-address-card"></i>
            Lista de Administradores</button>



    </div>
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <form>
                    <div >
                        <label class="form-label">Nombre del Cliente</label>
                        <input [(ngModel)]="equipo.nombre" type="text" class="form-control" name="nombre">


                    </div>

                    <div >

                        <label class="form-label">telefono</label>
                        <input [(ngModel)]="equipo.telefono" type="text" class="form-control" name="telefono">

                    </div>
                    <div >

                        <label class="form-label">correo</label>
                        <input [(ngModel)]="equipo.correo" type="text" class="form-control" name="correo">

                    </div>
                    <div >

                        <label class="form-label">cedula</label>
                        <input [(ngModel)]="equipo.cedula" type="text" class="form-control" name="cedula">

                    </div>

                    <button (click)="agregar()" class="btn btn-primary botonform">Agregar</button>


                </form>

            </div>




        </div>
    </div>
</div>