<div class="dashboard">
  <div class="sidebar">
    <h6>Agregar items</h6>
    <div class="separador"> </div>
    <button routerLink="/add" type="button" class="btn btn-dark boton"><i class="fas fa-user"></i>
      Agregar Nuevo cliente</button>
    <button routerLink="/addAdministrador" type="button" class="btn btn-dark boton"><i class="fas fa-user-shield"></i>
      Agregar Administrador</button>


    <h6>Listas</h6>
    <div class="separador"> </div>

    <button routerLink="/inicio" type="button" class="btn btn-dark boton"><i class="fas fa-users"></i>
      Lista de Clientes</button>

    <button routerLink="/moviles" type="button" class="btn btn-dark boton"><i class="fas fa-mobile-alt"></i>
      Lista de Moviles</button>
    <button routerLink="/reparaciones" type="button" class="btn btn-dark boton"><i class="fas fa-tools"></i>
      Lista de reparaciones</button>

    <button routerLink="/administradores" type="button" class="btn btn-dark boton"><i class="fas fa-address-card"></i>
      Lista de Administradores</button>




  </div>

  <div class="container">

    <div class="containerTable">
      <h4>Lista de reparaciones</h4>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id reparacion</th>
            <th scope="col">id movil</th>
            <th scope="col">descripcion</th>


          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reparacion of ListarReparaciones">
            <th>{{reparacion.id_reparaciones}}</th>
            <td>{{reparacion.id_movil}}</td>
            <td>{{reparacion.descripcion}}</td>



          </tr>

        </tbody>
      </table>

    </div>
  </div>
</div>